body {
    background-image: url(Beer+Alles/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 30pt;
    padding-bottom: 22%;
}

p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

main {
    display: flex;
}

#schema {
    padding-left: 10%;
}

article {
    width: 50vw;
    display: inline;
    padding-left: 50%;
    padding-bottom: 7em;
}

article img {
    display: inline;
}

img {
    display: block;
    width: 5em;
}

.beerStandaard {
    width: 30em;
    height: 32em;
    padding-top: 23%;
    padding-left: 50%;
}

#hint {
    padding-top: 4em;
    justify-content: right;
    text-align: right;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
}

.zichtbaar {
    display: block;
}

.onzichtbaar {
    display: none;
}

#accessoiresStapelen img {
    position: absolute;
    margin-left: 21.3%;
    margin-top: 3.8%;
    width: 20%;
    display: none;
}


#menuAccessoires {
    z-index: 1;
}

#shirtsStapelen img {
    position: absolute;
    margin-left: 17.3%;
    margin-top: 21.4%;
    width: 28%;
    display: none;
}


#menuShirts {
    z-index: 1;
}

.show{
    display: block !important;
}

button {
    padding: 1em 2em;
    font-size: 16pt;
    margin-left: 9em;
    margin-top: 2em;
}

#partyTime {
    font-size: 34pt;
    color: fuchsia;
    display: none;
    margin-left: -3em;
    margin-top: -1em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

@keyframes slideDown {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideDown 1s ease-out;
}
